/* 
Project Name: Monthly Resolutions
Author: Narendra404
*/


/*----------------------------------------------------------------------------- 
01=BASE   
-----------------------------------------------------------------------------*/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

.clear {
	clear: both;
}

.alignleft {
     float: left;
}

.lined {
    float:left;
    width:100%;
    border-top: 1px solid #979797;
    padding-top: 0.15em;
    padding-bottom: 0.15em;
}

.space {
    float:left;
    width:100%;
    border-top: 40px solid white;
    padding-top: 0.15em;
    padding-bottom: 0.15em;
}

.list {
     margin-bottom: 0;
}

.circle {
     border-radius: 50%;
     box-shadow: -2px 2px #979797;
}

.BelowImg {
     margin-top: 20px;
}

/*----------------------------------------------------------------------------- 
02=LAYOUT  
-----------------------------------------------------------------------------*/
body {
 background: url('../images/bg.jpg'); /* add a fallback color of #d6d6d6 */
 color: white;
 font-family: 'Lato', sans-serif;
 line-height: 1.7; /* line-height is unit-less */
 font-size: 100%;
 background-attachment: fixed;
 background-size: 100%;
}

.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 2.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

h1 { 
     font-size: 5rem; 
     font-family: 'Catamaran', sans-serif; 
     margin: 0; 
     animation-duration: 3s;
     animation-name: slidein;
} 

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

d h5 { 
     color: white;
     font-size: 1.3rem;
     animation-duration: 3s;
     animation-name: slidein;
}

h2 {
     margin: 0 auto 10px 0;
     font-size: 1.3rem;
     color: black;
}

h6, h5 {
     margin: 0 auto 10px 0;
     font-size: 1rem;
     color: black;
}

h4 {
     margin: 40px auto 10px 0;
     font-size: 1.3rem;
     color: black;
}

c {
     color: #979797;
}

ul {
     color: black;
}
a {
     color: red;
     text-decoration: none;
}

blockquote {
     margin-left: 0;
     font-style: italic;
     border-left: 4px solid #CCC;
     padding-left: 8px;
}
/*----------------------------------------------------------------------------- 
03=MAIN  
-----------------------------------------------------------------------------*/

#container {
     width: 1000px;
     margin: 0 auto;
}

#header {
     width: 1000px; 
     padding: 20px 25px 30px 0;
}

#main {
     width: 600px;
     background: white;
     padding: 20px 25px;
     border-radius: 1%;
     box-shadow: -2px 2px #979797;
     animation-duration: 5s;
     animation-name: fadein;
}

#sidebar {
     width: 330px;
     background: white;
     padding: 20px 25px;
     margin: 0 auto 0 10px;
     border-radius: 1%;
     box-shadow: -2px 2px #979797;
     animation-duration: 5s;
     animation-name: fadein;
}

@keyframes fadein {
     from {
          opacity: 0;
     }

     to {
          opacity: 1;
     }
}